.navbar {
    width: 100%;
    padding: 0.5rem 1rem;
    height: auto;
    background-color: white;
    /* Adjust as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: Add a shadow for better visibility */
    z-index: 1000;
    /* Ensure it stays on top of other content */
}

.navbar-img {
    height: 20px;
    width: auto;
    margin-left: 0.5rem;
    vertical-align: middle;
}

.custom-nav-link {
    color: black;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    /* Space out the links */
}

.navbar-brand {
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
}